<footer>
    <div class="container main-footer">
        <div class="row flex-column top-footer text-center">
            <p class="rs">(*) Sản phẩm không phải là thuốc, không có tác dụng thay thế thuốc chữa bệnh</p>
            <p class="rs">(*) Hiệu quả cảm nhận tùy theo cơ địa từng người</p>
            <a rel="noopener" target="_blank" href="#" class="logo-ft"><img alt="Dược Phẩm Nhất Nhất" class="lazy img-fluid" alt="Dược Phẩm Nhất Nhất" width="380" height="83" data-original="assets/images//logo-ft.png"/></a>
            <p class="rs text-uppercase name-ft font-weight-bold">CÔNG TY TNHH PHÂN PHỐI TRỰC TUYẾN NHẤT NHẤT</p>
            <p class="rs add-ft">Địa chỉ: số 24, ngõ 22 phố Trung Kính, phường Trung Hòa, quận Cầu Giấy, thành phố Hà Nội</p>
        </div>
        <div class="row bottom-footer">
            <div class="col-6 col-sm-4 text-left">
                <div class="item-footer row">
                    <h5 class="rs font-weight-bold">Chăm sóc khách hàng</h5>
                    <ul class="rs list-link">
                        <li><a rel="noopener" href="https://5nhatnhat.com/" target="_blank">Chính sách đổi trả</a></li>
                        <li><a rel="noopener" href="https://5nhatnhat.com/" target="_blank">Phương thức vận chuyển</a></li>
                        <li><a rel="noopener" href="https://5nhatnhat.com/" target="_blank">Chính sách bảo mật</a></li>
                        <li><a rel="noopener" href="https://5nhatnhat.com/" target="_blank">Chăm sóc sau bán hàng</a></li>
                        <li><a rel="noopener" href="https://5nhatnhat.com/" target="_blank">Hướng dẫn mua hàng</a></li>
                        <li><a rel="noopener" href="https://5nhatnhat.com/" target="_blank">Phương thức thanh toán</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-6 col-sm-4">
                <div class="item-footer row">
                    <h5 class="rs text-center font-weight-bold">Phương thức thanh toán</h5>
                    <div class="list-method-pay">
                        <span class="visa"><img alt="Dược Phẩm Nhất Nhất" width="167" height="70" class="lazy" data-original="assets/images/icon-visa.png"/></span>
                        <span class="mscard"><img alt="Dược Phẩm Nhất Nhất" width="167" height="70" class="lazy" data-original="assets/images/icon-mscard.png"/></span>
                        <span class="payusd"><img alt="Dược Phẩm Nhất Nhất" width="167" height="70" class="lazy" data-original="assets/images/icon-usd.png"/></span>
                        <span class="ib-bank"><img alt="Dược Phẩm Nhất Nhất" width="167" height="70" class="lazy" data-original="assets/images/icon-ibbank.png"/></span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-footer-last">
                <div class="item-footer row">
                    <h5 class="rs text-right font-weight-bold">Thông tin liên hệ</h5>
                    <div class="list-contact text-right">
                        <a href="tel:19001122" class="hotline font-weight-bold">1900-1122</a>
                        <a href="mailto:hotro@5nhatnhat.com" target="_blank" class="email-support">hotro@5nhatnhat.com</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>