<header>
    <div class="header sticky">
        <div class="fixCen inner-header">
            <h1 class="rs">
                <a rel="noopener" href="https://nhatnhat.com/" class="logo"data-aos="fade-down" >
                    <picture>
                        <source media="(max-width:768px)" width="299" height="56" srcset="assets/images/logo-mb.png">
                        <img alt="Dược Phẩm Nhất Nhất" class="lazy" alt="Nhất Nhất" width="299" height="56" data-original="assets/images/logo.png"/>
                    </picture>
                </a>
            </h1>

            <div class="box-right-header" data-aos="fade-left">
                <div class="box-support">
                    <span>Tổng đài tư vấn miễn phí</span>
                    <a href="tel:0818122122" class="hotline">0818 122 122</a>
                    <a href="#form-order" rel="noopener" class="btn-buy">Đặt Mua ngay</a>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-header">
        <picture>
            <source media="(max-width:1024px)" width="375" height="688" class="img-mb" srcset="assets/images/banner-mb.jpg">
            <img alt="Dược Phẩm Nhất Nhất" class="lazy" alt="Nhất Nhất" width="1920" height="1080" data-original="assets/images/banner.jpg"/>
            <!--                <img alt="Dược Phẩm Nhất Nhất" class="lazy" class="img-banner-mb hide-desktop" data-original="assets/images/banner-mb.jpg"/>-->
        </picture>
        <div class="main-banner">
            <div class="fixCen">
                <div class="info" data-aos="fade-right">
                    <div class="text-1">Thường</div>
                    <span class="text-2 smoothed">cắt ngay cơn ho</span>
                    <ul class="rs lst-symptom">
                        <li><span>Hết ngứa họng, dịu hẳn đau rát họng.</span></li>
                        <li><span>Giảm, hết viêm họng, viêm amidan, viêm thanh quản</span></li>
                    </ul>
                    <span class="text-3">FREESHIP TOÀN QUỐC</span>
                    <span class="img-clock"></span>
                </div>
            </div>
        </div>

    </div>
    <div class="box-ads-header" >
        <div class="fixCen inner-ads-header">
            <span class="btn-close" id="btn-close-ads"></span>
            <div class="box-note-sticky">
                <span class="">Bạn được hoàn hàng nếu bao bì còn nguyên vẹn</span>
                <span class="text-uppercase">Freeship toàn quốc</span>
            </div>
            <form class="ads-form" id="ads-form-header">
                <div class="input-form">
                    <div class="form-group">
                        <input autocomplete="off" type="text" class="fullname" name="fullname" placeholder="Họ tên"/>
                    </div>
                    <div class="form-group">
                        <input autocomplete="off" type="text" class="telephone" name="telephone" placeholder="Số điện thoại"/>
                    </div>
                </div>
                <button id="btn-send-info-header" name="send-info" class="btn-send-info">Mua ngay</button>
            </form>
            <div href="#" class="img-product-ads"><img alt="Dược Phẩm Nhất Nhất" class="lazy" width="248" height="312" alt="Ảnh sản phẩm 1" data-original="assets/images/img-product1.png"/></div>
        </div>
        <div class="error error-bottom-mb">* Trường bắt buộc</div>
    </div>
</header>