<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="Xịt họng Nhất Nhất">
    <meta name="keywords" content="keywprd1, keyword2">
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Nhất Nhất 7 - Xịt họng Nhất Nhất " />
    <meta property="og:description" content="Nhất Nhất 7 - Xịt họng Nhất Nhất" />
    <meta property="og:url" content="https://nhatnhat.com/" />
    <meta property="og:site_name" content="https://nhatnhat.com/" />
    <link rel="icon" href="./assets/images/favicon.ico">
    </body>
    <!--css-->
    <title>{{pageTitle}}</title>
    <style>
        .loading-start{
            width: 100%;
            height: 100%;
            background-color: #000000f2;
            position: fixed;
            z-index: 999;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .donut {
            width: 5rem;
            height: 5rem;
            margin: 2rem;
            border-radius: 50%;
            border: 0.3rem solid rgba(108, 180, 56, 0.3);
            border-top-color: #6CB438;
            animation: 1.5s spin infinite linear;
        }
        .donut.multi {
            border-bottom-color: #6CB438;
        }
        @keyframes spin {
            to {
                transform: rotate(360deg);
            }
        }
    </style>
    <script>
        const expiresCookie = 365;;
        const prefixKey = 'NNXH123';
        const price = 70000;
    </script>
</head>
<body class="{{bodyClasses}}">
<div class="wrapper-landing">
    {% include "../share/header.html" %}
    {% block content %}{% endblock %}
    {% include "../share/footer.html" %}
    {% include "../share/modal.html" %}
</div>


<script src="assets/js/jquery-3.1.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.lazyload.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
<script src="assets/js/page_all.js"></script>
<!-- Action request data -->
<script src="assets/js/jquery.cookie.min.js"></script>
<script src="assets/js/jquery.validate.min.js"></script>
<script src="assets/js/main.js"></script>
<!-- Action request data -->
<script>
    $("img.lazy").lazyload();
    // if ('loading' in HTMLIFrameElement.prototype) {
    //     const iframes = document.querySelectorAll('iframe[loading="lazy"]');
    //     iframes.forEach(iframe => {
    //         iframe.src = iframe.dataset.src;
    //     });
    // } else {
    //     // Dynamically import the LazySizes library
    //     const script = document.createElement('script');
    //     script.src = '/assets/js/lazysizes.min.js';
    //     document.body.appendChild(script);
    // }
</script>
<!-- Action request data -->
<!--css-->
<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">
<!---->
</body>
</html>