<div class="main-dtn">
    <div class="box-dangtin-detail">
        <div class="box-banner">
            <a href="#"><img src="assets/images/banner-123.jpg" class="w-100"/></a>
        </div>
        <div class="main-dangtin d-flex flex-wrap justify-content-between">
            <div class="box-info-detail">
                <div class="info-top-company d-flex align-items-center">
                    <div class="img-company"><img src="assets/images/avat-vin.png"/></div>
                    <div class="info-company">
                        <h5>CTV Tuyển dụng Online tại nhà</h5>
                        <div class="d-flex bottom-info align-items-center">
                            <span>Công ty cổ phần truyền thông canavi</span>
                            <div class="rate">
                                <i></i>
                                <i></i>
                                <i></i>
                                <i class="part-2"></i>
                                <i class="gray"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-basic">
                    <h4>Thông tin cơ bản</h4>
                    <div class="item d-flex align-items-center">
                        <div class="lst-item w-50">Ngành nghề</div>
                        <div class="w-50"><a href="#">Dịch vụ khác</a></div>
                    </div>
                    <div class="item d-flex align-items-center">
                        <div class="lst-item w-50">Loại hình công việc</div>
                        <div class="w-50">Fulltime</div>
                    </div>
                    <div class="item d-flex align-items-center">
                        <div class="lst-item w-50">Yêu cầu kinh nghiệm làm việc</div>
                        <div class="w-50">Từ 1 đến 2 năm</div>
                    </div>
                </div>
                <div class="info-basic">
                    <h4>Yêu cầu công việc</h4>
                    <div class="content-basic">
                        <h5>yêu cầu công việc:</h5>
                        <p>- Bạn có thời gian rảnh, máu kiếm tiền</p>
                        <p>- Bạn yêu thích công việc liên quan đến nhana sự, kinh doanh,...</p>
                        <p>- Không yêu cầu độ tuổi, giới tính, kinh nghiệm, ngành nghề,...</p>
                        <p>- Không phải đến công ty làm việc chỉ cần có laptop, điện thoại, internet tại nhà.</p>
                    </div>
                </div>
                <div class="info-basic">
                    <h4>Phúc lợi</h4>
                    <div class="content-basic">
                        <h5>Quyền lợi công việc:</h5>
                        <p>- Nhận hoa hồng hấp dẫn từ 5-10%: Trung bình 500.000đ - 2.000.000đ/nhân sự tuyển dụng thành công</p>
                        <p>- Thu nhập từ 6.000.000đ - 15.000.000 trieuẹ /tháng(CAO HƠN CẢ CÔNG VIÊC HÀNH CHÍNH)</p>
                        <p>- Không bỏ vốn, không giới hạn thời gian phù hợp tất cả mọi người</p>
                        <p>- Quy trình hợp tác, chính sách thanh toán rõ ràng, linh hoạt.</p>
                        <p>- Được trainning nghiepẹ vụ tuyển dụng bài bản hàng tháng.</p>
                        <p>- Ngoài ra, còn vô vàn quyền lợi khác nữa.</p>
                    </div>
                </div>
                <div class="info-basic">
                    <h4>Mô tả công việc</h4>
                    <div class="content-basic">
                        <h5>1. Mô tả công việc</h5>
                        <p>- Lựa chọn jobs phù hợp đang có sẵn trên hệ thống</p>
                        <p>- Đăng tin tuyển dụng, lọc hồ sơ ứng viên.</p>
                        <p>- Gọi điện/email lịch hẹn phỏng vấn, trúng tuyển theo lịch có sẵn.</p>
                        <p>- Theo dõi kết quả: Nhận việc sau 7 ngày. bảo hành trên hệ thống</p>
                    </div>
                </div>
                <div class="info-basic">
                    <h4>Hồ sơ bao gồm</h4>
                    <div class="content-basic">
                        <p>Tạo hồ sơ trên Canavi</p>
                    </div>
                </div>
            </div>
            <div class="banner-right">
                <a href="#"><img src="assets/images/img-banner-right.jpg"/></a>
            </div>
        </div>
    </div>
</div>