<main>
    <div class="box-color-1">
        <div class="fixCen text-center slogan1">
            <p class="rs">
                <span class="text-main1 text-uppercase" style="display: inline-block">Ho</span> thường kèm theo<br> rất nhiều
                <span class="text-main1 text-uppercase" style="display: inline-block">Triệu chứng</span>
            </p>
        </div>
    </div>
    <div class="box-color-1">
        <div class="fixCen box-info1">
            <span class="img-person-1" data-aos="zoom-in"></span>
            <div class="list-symptom">
                <span class="item-symptom" data-aos="fade-right"><span>Đau rát, ngứa họng</span></span>
                <span class="item-symptom" data-aos="fade-left" data-aos-duration="1000"><span>Sốt, ớn lạnh, rùng mình</span></span>
                <span class="item-symptom" data-aos="fade-right" data-aos-duration="1000"><span>Khản tiếng, mất tiếng</span></span>
                <span class="item-symptom" data-aos="fade-left"><span>Nhức mỏi cơ bắp</span></span>
                <span class="item-symptom" data-aos="fade-right" data-aos-duration="2000"><span>Hắt hơi, nghẹt mũi, chảy mũi</span></span>
                <span class="item-symptom" data-aos="fade-left" data-aos-duration="2000"><span>Mệt mỏi, uể oải</span></span>
            </div>
        </div>
    </div>
    <div class="box-bg-2">
        <div class="fixCen box-note1">
            <ul class="lst-note">
                <li><span>Ho nhẹ thường chỉ <strong>ngứa họng, đằng hắng </strong>trong vòng 1 vài ngày.</span></li>
                <li><span>Ho nặng có biểu hiện: <strong>ho dữ dội, </strong>liên tục, ho <strong>quặn bụng</strong> và kéo dài.</span></li>
                <li>
                <span>Ho <strong>do dị ứng, cảm lạnh, viêm họng, viêm amidan, viêm thanh quản</strong> thường hết sau <strong>1 tuần</strong>, người bị nặng
                thì <strong>từ 3 - 8 tuần</strong>.
                </span>
                </li>
                <li><span>Các trường hợp kéo dài trên <strong>8 tuần</strong> gọi là <strong>ho mạn tính</strong></span></li>
            </ul>
        </div>
    </div>
    <div class="box-color-1">
        <div class="fixCen box-info2">
            <h2 class="rs text-center slogan1" data-aos="fade-down">
                <span class="text-main1 text-uppercase">Hướng điều trị ho</span> Hiệu quả hiện nay
            </h2>
            <div class="detail-info2">
                <div class="item-info2" data-aos="fade-right">
                    <h5 class="rs name-info">Thuốc Tây Y</h5>
                    <div class="top-info">
                        Uống các thuốc <span class="font-weight-bold">chống ho, kháng histamin, kháng viêm, kháng sinh</span>
                    </div>
                    <ul class="rs lst-medicine">
                        <li>Thường giảm triệu chứng sau <span class="font-weight-bold">một vài ngày</span> sử dụng</li>
                        <li>Nhiều <span class="font-weight-bold">tác dụng phụ</span> như rối loạn tiêu hóa, đau đầu, buồn nôn</li>
                        <li>Dễ <span class="font-weight-bold">nhờn thuốc</span> và đặc biệt là <span class="font-weight-bold">kháng sinh, histamin</span></li>
                    </ul>
                </div>
                <div class="item-info2" data-aos="fade-left">
                    <h5 class="rs name-info">Thuốc Đông Y</h5>
                    <div class="top-info">
                        Xịt họng dung dịch chiết xuất thảo dược <span class="font-weight-bold">giảm ho, sát khuẩn, kháng viêm, kháng dị ứng, bổ phế</span>
                    </div>
                    <ul class="rs lst-medicine">
                        <li>Tác dụng <span class="font-weight-bold">tại chỗ, thường <span class="font-weight-bold">nhanh chóng làm hết ho, ngứa họng, đau rát họng, khản tiếng.</span></li>
                        <li>Giúp <span class="font-weight-bold">giảm rõ rệt</span> hoặc hết viêm họng, viêm họng hạt, viêm amidan, viêm thanh quản cấp và mãn tính.</li>
                    </ul>
                </div>

            </div>
            <p class="rs text-center text-slogan-3" data-aos="fade-right">
                <span class="font-weight-bold"> Nhưng không phải cứ thuốc Đông y là điều trị hiệu quả được ho, viêm họng, viêm amidan, viêm thanh quản</span>
                vì thị trường Đông y tràn lan các sản phẩm không có tác dụng hoặc tác dụng không rõ rệt.
            </p>
        </div>
    </div>
    <div class="box-color-3">
        <div class="fixCen box-note1" data-aos="fade-left">
            <p class="rs slogan3">
                <span class="font-weight-bold">Chỉ Xịt họng –</span> được bào chế theo phương pháp <br/>
                <span class="font-weight-bold">Ngự Y Mật Phương,</span> tại nhà máy <span class="font-weight-bold">Dược Phẩm Nhất Nhất đạt chuẩn GMP – WHO</span> mới mang lại <span class="font-weight-bold">hiệu quả thực sự</span>
            </p>
        </div>
    </div>
    <div class="box-bg-4">
        <div class="fixCen">
            <div class="box-product-1">
                <span class="img-product" data-aos="fade-right"><img alt="Dược Phẩm Nhất Nhất" class="lazy" width="547" height="690" data-original="assets/images/img-product-2.png"></span>
                <div class="box-right-product" data-aos="fade-left">
                    <ul class="rs lst-note1">
                        <li><span>Thường <strong class="font-weight-bold">cắt ngay cơn ho trong 10 phút</strong></span></li>
                        <li><span>Giảm nhanh <strong>ngứa họng, đau rát họng</strong></span></li>
                        <li><span><strong>Giúp giảm hẳn hoặc hết viêm họng, viêm amidan, viêm thanh quản</strong></span></li>
                        <li><span>Bạn được hoàn hàng nếu bao bì còn nguyên bao bì</span></li>
                    </ul>
                    <form class="ads-form" id="ads-form">
                        <div class="input-form">
                            <div class="form-group">
                                <input autocomplete="off" type="text" class="fullname" name="fullname" placeholder="Họ tên"/>
                            </div>
                            <div class="form-group">
                                <input autocomplete="off" type="text" class="telephone" name="telephone" placeholder="Số điện thoại"/>
                            </div>
                        </div>
                        <button id="btn-send-info" name="send-info" class="btn-send-info">Mua ngay</button>
                    </form>
                    <a href="#form-order" class="btn-send-info d-block d-sm-none">Mua ngay</a>
                </div>
            </div>
        </div>
    </div>
    <div class="box-color-1">
        <div class="fixCen box-info2">
            <p class="rs text-center slogan1" data-aos="fade-down">
                <span class="text-main1 text-uppercase">Hiệu quả<br/> cảm nhận rõ rệt</span>
            </p>
            <div class="list-schedule">
                <div class="item-schedule" data-aos="fade-right">
                    <h5 class="rs name-schedule">10 phút</h5>
                    <div class="box-content-schedule">
                        <ul class="rs lst-schedule">
                            <li><span class="font-weight-bold">Cắt ngay cơn ho</span></li>
                            <li><span>Giảm đau rát họng</span></li>
                            <li><span>Giảm ngứa họng</span></li>
                        </ul>
                        <a href="#form-order" class="btn-buy-now">Mua ngay</a>
                    </div>
                </div>
                <div class="item-schedule" data-aos="fade-up">
                    <h5 class="rs name-schedule">1 - 2 ngày</h5>
                    <div class="box-content-schedule">
                        <ul class="rs lst-schedule">
                            <li><span><p><strong class="font-weight-bold">Giảm số lần ho</strong> trong ngày</p></span></li>
                            <li><span>Giảm sưng, đau, khàn tiếng do viêm họng, viêm amidan, viêm thanh quản</span></li>
                        </ul>
                        <a href="#form-order" class="btn-buy-now">Mua ngay</a>
                    </div>
                </div>
                <div class="item-schedule" data-aos="fade-left">
                    <h5 class="rs name-schedule">3 - 4 ngày</h5>
                    <div class="box-content-schedule">
                        <ul class="rs lst-schedule">
                            <li><span class="font-weight-bold">Giảm hẳn hoặc hết ho</span></li>
                            <li><span>Giảm hẳn hoặc hết viêm họng, viêm amidan, viêm thanh quản</span></li>
                        </ul>
                        <a href="#form-order" class="btn-buy-now">Mua ngay</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="box-bg-2">
        <div class="fixCen box-note1  text-center" data-aos="zoom-in">
            <div class="slogan4">
                <p class="font-weight-bold">Theo Ngự Y Mật Phương</p>
                <p class="rs">
                    Tuy chỉ hiệu quả với khoảng 90% - 95% các trường hợp, nhưng nếu hợp thì sản phẩm hiệu quả thực sự, bạn sẽ cắt ngay cơn ho trong 10 phút, giảm hẳn
                    hoặc hết viêm họng, amidan, thanh quản cấp trong 2 - 5 ngày.
                </p>
            </div>
        </div>
    </div>
    <div class="box-color-1">
        <div class="fixCen">
            <div class="lst-price">
                <div class="item-price" data-aos="fade-right">
                    <span class="img-price"><img alt="Dược Phẩm Nhất Nhất" class="lazy" width="414" height="518" data-original="assets/images/cd-ngu-y.png"/></span>
                    <span class="name-price">Cung đình<br> Ngự Y Mật Phương</span>
                </div>
                <div class="item-price" data-aos="fade-left">
                    <span class="img-price"><img alt="Dược Phẩm Nhất Nhất" class="lazy" width="331" height="496" data-original="assets/images/DSC_8234.png"/></span>
                    <span class="name-price">Nhà máy Nhất Nhất đạt giải vàng thương hiệu quốc gia</span>
                </div>
            </div>
        </div>
    </div>
    <div class="box-color-1">
        <div class=" box-info-company" >
            <div class="item-4 box-video" data-aos="fade-right">
                <iframe width="100%" height="350"
                        data-src="https://www.youtube.com/embed/Jcd_Yh0WSTc"
                        title="Hết đau đầu, chóng mặt, mất ngủ" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen=""></iframe>
            </div>
            <div class="item-4 img-company" data-aos="fade-left">
                <img alt="Dược Phẩm Nhất Nhất" class="w-100 lazy" width="950" height="849" data-original="assets/images/img-banner2.jpg"/>
                <a href="#form-order" class="btn-banner-order">Mua hàng</a>
            </div>
        </div>
    </div>
    <div class="box-color-1">
        <div class="fixCen box-product-2">
            <h2 class="rs slogan5 text-uppercase" data-aos="zoom-in"><span>Những ai nên sử dụng xịt họng nhất nhất Plus</span></h2>
            <div class="swiper-container mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" >
                        <img alt="Dược Phẩm Nhất Nhất" class="" width="447" height="556" src="assets/images/img-1.jpg"/>
                        <div class="content-product-2">
                            <ul class="rs lst-product-2">
                                <li>Người bị ho do cảm lạnh, do kích ứng</li>
                                <li>Người bị ho lâu ngày: cứ buồn ho, ngứa họng là xịt. Mỗi lần xịt 2-3 nhịp</li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-slide" >
                        <img alt="Dược Phẩm Nhất Nhất" class="" width="447" height="556" src="assets/images/img-2.jpg"/>
                        <div class="content-product-2">
                            <ul class="rs lst-product-2">
                                <li>Người bị viêm họng: cổ họng sưng đau, rát họng, ho, khàn tiếng, khó nuốt</li>
                                <li>Người hay bị viêm họng khi uống nước đá: xịt sau khi uống</li>
                                <li>Người hay bị viêm họng khi đêm nằm ngủ có điều hòa: xịt trước khi ngủ và sau khi thức giấc.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-slide" >
                        <img alt="Dược Phẩm Nhất Nhất" class="" width="447" height="556" src="assets/images/img-3.jpg"/>
                        <div class="content-product-2">
                            <ul class="rs lst-product-2">
                                <li>Người bị viêm thanh quản: khàn tiếng, mất tiếng, hụt hơi, mệt khi nói</li>
                                <li>Người hay phải nói to, nói nhiều để tránh đau rát họng, khản tiếng: xịt trước và sau khi nói nhiều.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
    <div class="box-color-3">
        <div class="fixCen box-note1 font-weight-bold text-left" >
            <ul class="rs lst-description">
                <li class="slogan4 font-weight-bold">
                    Sản phẩm an toàn và hiệu quả cho cả Phụ nữ có thai, người đang cho con bú và trẻ từ 2 tuổi.
                </li>
                <li class="slogan4">
                    Lưu ý: có thể dùng cho trẻ từ 1 - 2 tuổi nhưng cần tham khảo ý kiến bác sĩ. Không sử dụng sản phẩm cho trẻ dưới 12 tháng tuổi.
                </li>

            </ul>
        </div>
    </div>
    <div class="box-bg-6">
        <div class="fixCen box-product">
            <div class="item-product"><img alt="Dược Phẩm Nhất Nhất" class="lazy" width="736" height="846" data-original="assets/images/img-doctor.png"/></div>
            <div class="item-product box-register">
                <div class="info">
                    <div class="text-1">Xịt họng <br/>Nhất Nhất Plus</div>
                    <span class="text-2">thường cắt ngay cơn ho</span>
                    <p class="rs text-3">Đăng ký để nhận TƯ VẤN MIỄN PHÍ<br/> Từ chuyên gia hàng đầu</p>
                    <span class="img-clock"></span>
                </div>
                <form class="form-register" id="form-register">
                    <div class="form-group w-100">
                        <input autocomplete="off" type="text" class="fullname" name="fullname" placeholder="Họ tên:">
                    </div>
                    <div class="form-group w-100">
                        <input autocomplete="off" type="text" class="telephone" name="telephone" placeholder="Điện thoại:">
                    </div>
                    <textarea autocomplete="off" class="description" name="description" placeholder="Tình trạng hiện tại"></textarea>
                    <button class="btn-register">Đăng ký tư vấn</button>
                </form>
            </div>
        </div>
    </div>
    <div class="box-color-1">
        <div class="fixCen">
            <h2 class="rs slogan5"><span>95% người dùng <br/> ĐẠT HIỆU QUẢ như mong đợi</span></h2>
        </div>
        <div class="fixCen box-color-1 box-comment box-comment-desktop">
            <div class="item-comment">
                <span class="avatar-user"><img alt="Dược Phẩm Nhất Nhất" class="img-fluid lazy" width="122" height="122" alt="Nguyễn Thy" data-original="assets/images/img-avatar.png"/></span>
                <div class="detail-comment">
                    <div class="info-user font-weight-bold">Ho do cảm lạnh</div>
                    <div class="content-comment">
                        Chị Hương vừa qua phẫu thuật ở bụng, nhưng bị cảm ho, mỗi lần ho vết khâu đau, căng ra như sắp bục chỉ.
                        Bác sĩ kê kháng sinh, thuốc ho nhưng chị vẫn ho . May mà dùng Xịt Họng Nhất Nhất Plus cắt ngay cơn ho trong 10 phút nên mỗi khi ngứa họng, buồn ho là chị xịt .Nhờ vậy chị không bị ho nữa .
                        Vết mổ cũng nhanh lành hơn do không bị tác động kéo căng vì ho
                    </div>
                    <div class="info-user"><span class="font-weight-bold">Chị Hương - Nhân viên ngân hàng, </span>(28 tuổi)</div>
                </div>
            </div>
            <div class="item-comment">
                <span class="avatar-user"><img alt="Dược Phẩm Nhất Nhất" class="img-fluid lazy" width="122" height="122" alt="Nguyễn Thy" data-original="assets/images/img-avatar.png"/></span>
                <div class="detail-comment">
                    <div class="info-user font-weight-bold">Ho do kích ứng</div>
                    <div class="content-comment">
                        Bà An đã đi khám mấy lần ở bệnh viện, dùng thuốc theo đơn bác sĩ nhưng vẫn ho dai dẳng mấy tháng không dứt.
                        Con gái mua Xịt Họng Nhất Nhất Plus ,dặn mẹ xịt liên tục trong 3 tuần.
                        Bà làm theo, mỗi khi ngứa họng, buồn ho là xịt mấy nhịp. Giờ bà không còn ho nữa dù đã ngưng dùng 1 tháng rồi.
                    </div>
                    <div class="info-user"><span class="font-weight-bold">Bà An - Giáo viên về hưu,</span> (62 tuổi)</div>
                </div>
            </div>
            <div class="item-comment">
                <span class="avatar-user"><img alt="Dược Phẩm Nhất Nhất" class="img-fluid lazy" width="122" height="122" alt="Nguyễn Thy" data-original="assets/images/img-avatar-1.png"/></span>
                <div class="detail-comment">
                    <div class="info-user font-weight-bold">Viêm thanh quản</div>
                    <div class="content-comment">
                        Thầy Hưng phải giảng bài nhiều, nói to nên hay đau rát họng, khản tiếng.
                        Từ khi dùng Xịt Họng Nhất Nhất Plus trước và sau mỗi tiết học, buổi tối trước khi ngủ,
                        buổi sáng sau khi đánh răng thày không còn khản tiếng hay đau rát họng nữa.
                        Cổ họng trở nên dễ chịu và nói khỏe hơn xưa.
                    </div>
                    <div class="info-user"><span class="font-weight-bold">Thầy Hưng - Giảng viên Đại học,</span> (35 tuổi)</div>
                </div>
            </div>
            <div class="item-comment">
                <span class="avatar-user"><img alt="Dược Phẩm Nhất Nhất" class="img-fluid lazy" width="122" height="122" alt="Nguyễn Thy" data-original="assets/images/img-avatar.png"/></span>
                <div class="detail-comment">
                    <div class="info-user font-weight-bold">Viêm họng</div>
                    <div class="content-comment">
                        Mỗi khi ho, viêm họng là Minh dùng kháng sinh. Lần này anh thử không uống kháng sinh mà chỉ dùng Xịt Họng Nhất Nhất Plus mỗi khi ngứa họng, buồn ho.
                        Thật may, Xịt Họng Nhất Nhất Plus rất hợp với anh, không chỉ cắt ngay cơn ho ngay mà sau vài ngày viêm họng cũng hết.
                    </div>
                    <div class="info-user"><span class="font-weight-bold">Anh Minh - Nhân viên kinh doanh,</span> (27 tuổi)</div>
                </div>
            </div>
        </div>
        <div class="swiper-container box-comment box-comment-mb">
            <div class="swiper-wrapper">
                <div class="swiper-slide item-comment">
                    <span class="avatar-user"><img alt="Dược Phẩm Nhất Nhất" class="img-fluid lazy" width="122" height="122" alt="Nguyễn Thy" data-original="assets/images/img-avatar.png"/></span>
                    <div class="detail-comment">
                        <div class="info-user">Ho do cảm lạnh</div>
                        <div class="content-comment">
                            Chị Hương vừa qua phẫu thuật ở bụng, nhưng bị cảm ho, mỗi lần ho vết khâu đau, căng ra như sắp bục chỉ.
                            Bác sĩ kê kháng sinh, thuốc ho nhưng chị vẫn ho . May mà dùng Xịt Họng Nhất Nhất Plus cắt ngay cơn ho trong 10 phút nên mỗi khi ngứa họng, buồn ho là chị xịt .Nhờ vậy chị không bị ho nữa .
                            Vết mổ cũng nhanh lành hơn do không bị tác động kéo căng vì ho
                        </div>
                        <div class="info-user">Chị Hương - Nhân viên ngân hàng, (28 tuổi)</div>
                    </div>
                </div>
                <div class="swiper-slide item-comment">
                    <span class="avatar-user"><img alt="Dược Phẩm Nhất Nhất" class="img-fluid lazy" width="122" height="122" alt="Nguyễn Thy" data-original="assets/images/img-avatar.png"/></span>
                    <div class="detail-comment">
                        <div class="info-user">Ho do kích ứng</div>
                        <div class="content-comment">
                            Bà An đã đi khám mấy lần ở bệnh viện, dùng thuốc theo đơn bác sĩ nhưng vẫn ho dai dẳng mấy tháng không dứt.
                            Con gái mua Xịt Họng Nhất Nhất Plus ,dặn mẹ xịt liên tục trong 3 tuần.
                            Bà làm theo, mỗi khi ngứa họng, buồn ho là xịt mấy nhịp. Giờ bà không còn ho nữa dù đã ngưng dùng 1 tháng rồi.
                        </div>
                        <div class="info-user">Bà An - Giáo viên về hưu, (62 tuổi)</div>
                    </div>
                </div>
                <div class="swiper-slide item-comment">
                    <span class="avatar-user"><img alt="Dược Phẩm Nhất Nhất" class="img-fluid lazy" width="122" height="122" alt="Thầy Hưng" data-original="assets/images/img-avatar-1.png"/></span>
                    <div class="detail-comment">
                        <div class="info-user">Viêm thanh quản</div>
                        <div class="content-comment">
                            Thầy Hưng phải giảng bài nhiều, nói to nên hay đau rát họng, khản tiếng.
                            Từ khi dùng Xịt Họng Nhất Nhất Plus trước và sau mỗi tiết học, buổi tối trước khi ngủ, buổi sáng sau khi đánh răng thày không còn khản tiếng hay đau rát họng nữa.
                            Cổ họng trở nên dễ chịu và nói khỏe hơn xưa.
                        </div>
                        <div class="info-user">Thầy Hưng - Giảng viên Đại học, (35 tuổi)</div>
                    </div>
                </div>
                <div class="swiper-slide item-comment">
                    <span class="avatar-user"><img alt="Dược Phẩm Nhất Nhất" class="img-fluid lazy" width="122" height="122" alt="Nguyễn Thy" data-original="assets/images/img-avatar.png"/></span>
                    <div class="detail-comment">
                        <div class="info-user">Viêm họng</div>
                        <div class="content-comment">
                            Mỗi khi ho, viêm họng là Minh dùng kháng sinh. Lần này anh thử không uống kháng sinh mà chỉ dùng Xịt Họng Nhất Nhất Plus mỗi khi ngứa họng, buồn ho.
                            Thật may, Xịt Họng Nhất Nhất Plus rất hợp với anh, không chỉ cắt ngay cơn ho ngay mà sau vài ngày viêm họng cũng hết.
                        </div>
                        <div class="info-user">Anh Minh - Nhân viên kinh doanh, (27 tuổi)</div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="box-info-order">
        <div class="info-product">
        <span class="d-block">
            <img alt="Dược Phẩm Nhất Nhất" class="lazy" width="950" height="849" alt="Xịt Họng Nhất Nhất" data-original="assets/images/img-group122.jpg"/>
        </span>
        </div>
        <form class="form-order" id="form-order">
            <div class="main-form">
                <h4 class="rs">Đặt mua sản phẩm</h4>
                <div class="form-group w-100">
                    <input autocomplete="off" type="text" class="fullname" name="fullname" placeholder="Họ tên"/>
                </div>
                <div class="form-group w-100">
                    <input autocomplete="off" type="text" class="telephone" name="telephone" placeholder="Số điện thoại"/>
                </div>
                <div class="form-group w-100">
                    <input autocomplete="off" type="text" class="address" name="address" placeholder="Địa chỉ nhận hàng"/>
                </div>


                <div class="form-group mb-0 box-counter">
                    <label for="number-max">Số lượng (Hộp):</label>
                    <div class="counter-main">
                        <input type="button" value="-" class="btn-action decrease" />
                        <input type="text" class="input-number quantity" name="quantity"  id="number-max" value="1" />
                        <input type="button" value="+" class="btn-action increase" />
                        <div id="errmsg"></div>
                    </div>
                </div>
                <div class="form-group box-counter justify-content-between">
                    <label>Thành tiền</label>
                    <input id="total-order" class="box-cell-price" type="text" value="<?php echo $price; ?>"/>
                </div>
                <button class="btn-order">Đặt hàng</button>
            </div>
            <span class="text4">*Miễn cước vận chuyển toàn quốc từ 01 hộp</span>
            <span class="text5">Bạn được hoàn hàng nếu bao bì còn nguyên vẹn</span>
        </form>

    </div>
</main>