@font-face {
  font-family: "SVN-Avo";
  src: url("../font/SVN-Avo.ttf");
  font-display: swap;
}
@font-face {
  font-family: "SVN-Avo Bold";
  src: url("../font/SVN-Avo-bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Myriad Pro Condensed";
  src: url("../font/MYRIADPRO-COND.OTF") format("opentype");
}
@font-face {
  font-family: "Myriad Pro Bold";
  src: url("../font/MYRIADPRO-BOLD.OTF") format("opentype");
}
/*set color main*/
$color_main1: #6CB438;
$color_main2: #ffffff;
$color_3: #2e3191;
$color_4: #A70C0C;
$color_5: #FFC600;
$color_text_1:#513628;
/*end set color main*/
img{
  height: auto;
}
.img-mb{
  height: auto!important;
}
a{
  text-decoration: none;
  transition: all 0.5s ease;
  &:hover{
    text-decoration: none;
  }
}
.rs{
  padding: 0;
  margin: 0;
}
input{
  &:focus{
    outline: none;
  }
}
ul{
  li{
    list-style: none;
  }
}
button{
  border: none;
  transition: all 0.5s ease;
  cursor: pointer;
  &:focus{
    outline: none;
  }
}
//SCSS style general
@mixin flex_item_center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@mixin flex_center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@mixin flex_between {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@mixin flex_end {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
//animate css3
@keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -moz-transform: rotate(0) scale(1) skew(1deg);
    -o-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    -moz-transform: rotate(-25deg) scale(1) skew(1deg);
    -o-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    -moz-transform: rotate(25deg) scale(1) skew(1deg);
    -o-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    -moz-transform: rotate(-25deg) scale(1) skew(1deg);
    -o-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    -moz-transform: rotate(25deg) scale(1) skew(1deg);
    -o-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -moz-transform: rotate(0) scale(1) skew(1deg);
    -o-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -moz-transform: rotate(0) scale(1) skew(1deg);
    -o-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
}

.error {
  font-size: 16px!important;
  color: red!important;
  text-transform: initial!important;
  font-family: "arial"!important;
  margin: 0!important;
  padding: 0 10px!important;
}
.error-bottom-mb{
  display: none;
}
@media only screen and (max-width: 768px) {
  .error{
    font-size: 12px!important;
    padding: 0 0 0 4px!important;
    span{
     display: none;
    }
  }
  .error-bottom-mb{
    display: block;
    padding: 0 15px!important;
  }
}