@import "common.scss";
@import "footer.scss";
@import "modal-511.scss";
.fixCen{
  width: 1366px;
  position: relative;
  height: 100%;
  margin: 0 auto;
}
.text-main1{
  color: $color_text_1;
  font-family: "SVN-Avo Bold",sans-serif;
}
.box-color-1{
  background-color: $color_main2;
}
.box-color-2{
  background-color: $color_main1;
}
.box-color-3{
  background-color: $color_text_1;
}
.box-color-4{
  background-color: #F8C9D0;
}
.mb-custom-box{
  margin-bottom: -37px;
}
.hide-desktop{
  display: none;
}
.swiper-button-prev, .swiper-button-next{
  display: none;
}
.wrapper-landing{
  width: 100%;
  overflow: hidden;
  //font-family: "Myriad Pro Condensed";
  font-family: "SVN-Avo",sans-serif;
  color: $color_text_1;
  line-height: 1.5;
  header{
    .header{
      width: 100%;
      height: 103px;
      position: fixed;
      top: 0;
      z-index: 9;
      &.sticky{
        background-color: #ffffffd1;
      }
      .inner-header{
        @include flex_between;
      }
      .logo{
        display: block;
        width: 338px;
        height: 62px;
        img{
          display: block;
          width: 100%;
          height: auto;
        }
      }
      .box-right-header{
        @include flex_center;
        .btn-buy{
          @include flex_center;
          width: 260px;
          height: 40px;
          background-color: $color_text_1;
          color: $color_main2;
          border-radius: 20px;
          font-size: 26px;
          font-family: 'SVN-Avo Bold',sans-serif;
          text-transform: uppercase;
          margin-right: 16px;
          &:hover{
            color: $color_main2;
            background-color: $color_main1;
            letter-spacing: 1.2px;
          }
        }
        .box-support{
          @include flex_center;
          color: $color_text_1;
          font-family: 'SVN-Avo Bold',sans-serif;
          font-size: 20px;
          .hotline{
            @include flex_center;
            width: 260px;
            height: 40px;
            color: #ffffff;
            background-color: $color_text_1;
            border-radius: 19px;
            font-size: 26px;
            font-family: 'SVN-Avo Bold',sans-serif;
            letter-spacing: 1.5px;
            margin: 0 15px;
            line-height: 1;
            position: relative;
            &:hover{
              background-color: $color_main1;
            }
            &:before{
              display: inline-block;
              content: '';
              margin-right: 15px;
              background: url("../images/phone-call.png") 50% 50% no-repeat;
              width: 30px;
              height: 30px;
              animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
            }
          }
        }
      }

    }
    .banner-header{
      background: url("../images/banner.jpg") 50% 0 no-repeat;
      //height: 1080px;
      position: relative;
      //padding-top: 200px;
      img{
        display: block;
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
      }
      .main-banner{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 200px;
      }
      .info{
        max-width: 730px;
        position: relative;
        .img-clock{
          display: block;
          background: url("../images/clock_4.png") 0/100% no-repeat;
          width: 371px;
          height: 371px;
          position: absolute;
          right: -100px;
          top:50%;
          margin-top: -259px;
        }
        .text-1{
          display: block;
          color: $color_text_1;
          font-size: 34px;
          font-family: 'SVN-Avo Bold',sans-serif;
          padding-left: 30px;
        }
        .text-2{
          display: flex;
          align-items: center;
          width: 650px;
          max-width: 100%;
          height: 106px;
          border-radius: 50px;
          padding: 0 30px;
          margin: 15px 0 15px -20px;
          font-size: 55px;
          line-height: 1;
          text-transform: uppercase;
          font-family: "SVN-Avo Bold",sans-serif;
          background-color: $color_text_1;
          color: $color_main2;
        }
        .text-3{
          display: none;
        }
        .lst-symptom{
          width: 630px;
          height: 189px;
          padding-left: 10px;
          li{
            display: flex;
            margin-bottom: 30px;
            &:before{
              display: block;
              content: '';
              background: url("../images/check-01.png") 0/100% no-repeat;
              width: 35px;
              height: 35px;
              margin-right: 15px;
              margin-top: 10px;
            }
            span{
              display: block;
              flex: 1;
              color: $color_text_1;
              font-size: 28px;
              font-family: "SVN-Avo Bold",sans-serif;
              line-height: 42px;
            }
          }
        }
      }
    }
    .box-ads-header{
      width: 100%;
      height: 110px;
      background-color: $color_main1;
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 9;
      margin-top: -110px;
      border-top: 10px solid $color_3;
      border-top-left-radius: 9px;
      border-top-right-radius: 9px;
      transition: all 0.5s ease;
      &.close-ads{
        opacity: 0;
      }
      .inner-ads-header{
        @include flex_between;
        @mixin  form-ads{
          width: 398px;
         margin-bottom: 0;
          margin-right: 15px;
          input{
            background-color: $color_main2;
            border: none;
            width: 100%;
            height: 50px;
            font-size: 21px;
            font-family: 'SVN-Avo Bold',sans-serif;
            text-transform: uppercase;
            color: $color_text_1;
            padding: 0 15px;
            &::placeholder{
              color: $color_text_1;
            }
          }

        }
        .ads-form{
          display: flex;
          justify-content: space-between;
          .input-form{
            display: flex;
            flex: 1;
            width: 100%;
          }
          .form-group{
            @include form-ads;
          }
          .btn-send-info{
            width: 260px;
            height: 50px;
            background-color: #A70C0C;
            color: $color_main2;
            font-size: 30px;
            font-family: 'SVN-Avo Bold',sans-serif;
            text-transform: uppercase;
            margin-right: 25px;
            &:focus{
              outline: none;
            }
            &:hover{
              background-color: $color_3;
              border: 1px solid $color_main2;
              color: $color_main2;
            }
          }
        }
        .btn-close{
          display: block;
          background: url("../images/btn-close.png") 0/100% no-repeat;
          width: 39px;
          height: 39px;
          position: absolute;
          right: -15px;
          top: -25px;
          z-index: 9;
        }
        .img-product-ads{
          display: block;
          position: absolute;
          width: 248px;
          height: 312px;
          overflow: hidden;
          bottom: 0;
          right: 30px;
          img{
            width: 100%;
            height: auto;
          }
        }
      }
      .box-note-sticky{
        width: 100%;
        position: absolute;
        height: 55px;
        top: -55px;
        display: flex;
        span{
          height: 100%;
          @include flex_center;
          background-color: $color_text_1;
          color: $color_main2;
          font-family: "SVN-Avo Bold",sans-serif;
          font-size: 26px;
          border-radius: 37px 37px 0 0;
          &:nth-child(1){
            width: 674px;
            margin-right: 15px;
          }
          &:nth-child(2){
            width: 398px;
          }
        }
      }
    }
  }
  main{
    .slogan1{
      padding: 25px 120px;
      font-size: 55px;
      line-height: 69px;
    }
    .box-info1{
      height: 611px;
      .img-person-1{
        display: block;
        background: url("../images/img-p1.png") 0/100% no-repeat;
        width: 575px;
        height: 611px;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 50%;
        margin-left: -287px;
      }
      .list-symptom{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 90px 0 0;
        .item-symptom{
          display: flex;
          align-items: center;
          width: 529px;
          height: 105px;
          margin-bottom: 50px;
          color: $color_text_1;
          font-family: "SVN-Avo Bold",sans-serif;
          font-size: 25px;
          &:before{
            display: block;
            content: '';
            background: url("../images/check-01.png") 0/100% no-repeat;
            width: 32px;
            height: 32px;
            margin-right: 15px;
          }
          &:nth-child(even){
            background: url("../images/frame-dot2.png") 0/100% no-repeat;
            padding: 0 0 0 180px;
          }
          &:nth-child(odd){
            background: url("../images/frame-dot.png") 0/100% no-repeat;
            padding: 0 100px 0 0 ;
          }
        }
      }
    }
    .box-bg-2{
      background: url("../images/bg-2.jpg") 50% 100% no-repeat #6fb735;
      height:auto;
      padding: 25px 0;
      .box-note1{
        display: flex;
        align-items: flex-end;
      }
      .lst-note{
        padding: 0 115px 0 140px;
        li{
          list-style: none;
          display: flex;
          margin-bottom: 8px;
          &:before{
            display: block;
            content: '';
            background: url("../images/check-011.png") 0/100% no-repeat;
            width: 36px;
            height: 36px;
            margin-right: 15px;
            margin-top: 10px;
          }
          span{
            display: block;
            flex: 1;
            text-align: left;
            font-family: "SVN-Avo",sans-serif;
            font-weight: normal;
            font-size: 36px;
            strong{
              font-family: "SVN-Avo Bold",sans-serif;
            }
          }
        }
      }
    }
    .box-note1{
      padding: 26px;
      color: $color_main2;
      font-size: 34px;
      text-align: center;
      line-height: 1.3;
      &:before{
        display: block;
        content: '';
        background: url("../images/quotation-mark-03.png") 0/100% no-repeat;
        width: 63px;
        height: 59px;
        position: absolute;
        left: 25px;
        top: 20px;
      }
      &:after{
        display: block;
        content: '';
        background: url("../images/quotation-mark-03.png") 0/100% no-repeat;
        transform: rotate(180deg);
        width: 63px;
        height: 59px;
        position: absolute;
        right: 25px;
        bottom: 20px;
      }
      .lst-description{
        li{
          margin-bottom: 8px;
          &:before{
            display: inline-block;
            content: "";
            width: 12px;
            height: 12px;
            background-color: #ffffff;
            border-radius: 50%;
            margin-right: 8px;
            margin-bottom: 8px;
          }
        }
      }
    }
    .slogan3{
      padding:0 165px;
      color: #ffffff;
      font-size: 36px;
      font-family: "SVN-Avo",sans-serif;
      font-weight: normal;
      text-align: center;
      line-height: 52px;
      span{
        font-family: 'SVN-Avo Bold',sans-serif;
      }
    }
    .slogan4{
      font-family: "SVN-Avo",sans-serif;
      font-size: 36px;
      padding: 0 100px;
      font-weight: normal;
      &.font-weight-bold{
        font-family: 'SVN-Avo Bold',sans-serif;
      }
    }
    .box-info2{
      padding: 25px 0;
      .slogan2{
        padding: 5px 190px;
        text-align: center;
        font-size: 55px;
        line-height: 1.3;
      }
      .detail-info2{
        display: flex;
        justify-content: space-between;
        padding-top: 70px;
        .item-info2{
          background: url("../images/bg-3.png") 50% 100% no-repeat;
          width: 49%;
          height: 495px;
          color: $color_main1;
          font-size: 34px;
          text-align: center;
          border-radius: 45px;
          position: relative;
          &:nth-child(1){
            &:before{
              display: block;
              content: '';
              background: url("../images/icon_dty.png") 0/100% no-repeat ;
              width: 141px;
              height: 141px;
              position: absolute;
              left: -10px;
              top: -70px;
            }
          }
          &:nth-child(2){
            &:before{
              display: block;
              content: '';
              background: url("../images/icon_dty_2.png") 0/100% no-repeat ;
              width: 141px;
              height: 141px;
              position: absolute;
              left: -10px;
              top: -70px;
            }
          }

          .name-info{
            height: 75px;
            padding: 0 120px;
            display: flex;
            align-items: center;
            color: $color_main2;
            text-transform: uppercase;
            font-family: "SVN-Avo Bold",sans-serif;
            font-size: 36px;
          }
          .top-info{
            background-color: $color_text_1;
            padding: 6px 20px;
            height: 82px;
            color: $color_main2;
            font-size: 26px;
            font-weight: normal;
            text-align: left;
            line-height: 35px;

          }
          .lst-medicine{
            padding: 25px 25px 25px 50px;
            li{
              color: $color_main2;
              text-align: left;
              font-size: 26px;
              font-weight: normal;
              list-style-type: disc;
              line-height: 35px;
              margin-bottom: 35px;
            }
          }
        }
      }
      .text-slogan-3{
        padding: 25px 70px 0;
        color: $color_text_1;
        font-family: "SVN-Avo",sans-serif;
        font-weight: normal;
        font-size: 36px;
        span{
          font-family: "SVN-Avo Bold",sans-serif;
        }
      }
    }
    .list-schedule{
      display: flex;
      justify-content: space-between;
      .item-schedule{
        width: 32%;
        border-radius: 40px;
        overflow: hidden;
        .name-schedule{
          height: 90px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $color_text_1;
          color: $color_main2;
          font-family: "SVN-Avo Bold",sans-serif;
          font-size: 36px;
          text-transform: uppercase;
          position: relative;
          &:before{
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            background-color: #ffffff;
            position: absolute;
            bottom: 0;
          }
          &:after{
            display: block;
            content: '';
            width: 30px;
            height: 30px;
            background-color: #ffffff;
            border-radius: 50%;
            position: absolute;
            bottom: -15px;
            left: 50%;
            margin-left: -15px;
          }
        }
        .box-content-schedule{
          background: url("../images/bg-5.png") 50% 100% no-repeat;
          height: 413px;
          width: 100%;
          padding: 50px 50px 0;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .lst-schedule{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: calc(100% - 100px);
            font-weight: normal;
            li{
              display: flex;
              &:before{
                display: block;
                content: '';
                background: url("../images/check-011.png") 0/100% no-repeat;
                width: 30px;
                height: 30px;
                margin-right: 15px;
                margin-top: 4px;
              }
              span{
                display: flex;
                flex: 1;
                color: #ffffff;
                font-size: 26px;
                line-height: 35px;
                &.font-weight-bold{
                  font-family: 'SVN-Avo Bold',sans-serif;
                }
              }
            }
          }
          .btn-buy-now{
            @include flex_center;
            width: 202px;
            height: 50px;
            border-radius: 20px 20px 0 0;
            background-color: #A70C0C;
            color: #ffffff;
            text-transform: uppercase;
            font-family: 'SVN-Avo Bold',sans-serif;
            font-size: 30px;
            margin: 0 auto;
          }
        }
      }
    }
    .lst-price{
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-bottom: 80px;
      .item-price{
        width: 536px;
        max-width: 49%;
        display: flex;
        flex-direction: column;
        &:nth-child(1){
          margin-right: 15px;
        }
        .img-price{
          display: flex;
          align-items: flex-end;
          justify-content: center;
          img{
            max-width: 100%;
          }
        }
        .name-price{
          margin-top: -20px;
          width: 100%;
          height: 127px;
          padding: 0 25px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $color_text_1;
          color: $color_main2;
          font-size: 34px;
          line-height: 52px;
          font-family: "SVN-Avo Bold",sans-serif;
          @media only screen and (max-width: 1119px) {
            font-size: 30px;
          }
        }
      }
    }
    .box-info-company{
      display: flex;
      align-items: center;
      .item-4{
        width: 50%;
        margin-bottom: 25px;
        iframe{
          max-width: 600px;
          width: 100%;
          margin: 20px;
        }
      }
      .box-video{
        display: flex;
        justify-content: flex-end;
      }
      .img-company{
        background: url("../images/img-banner2.jpg") 0 0 no-repeat;
        width: 50%;
        height: auto;
        position: relative;
        img{
          max-width: 960px;
        }
        .btn-banner-order{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 262px;
          height: 61px;
          background-color: #A70C0C;
          color: #ffffff;
          font-size: 36px;
          font-family: 'SVN-Avo Bold',sans-serif;
          text-transform: uppercase;
          position: absolute;
          bottom: 9%;
          left: 50%;
          margin-left: -150px;
          border-radius: 30px;
          padding-bottom: 5px;
        }
      }

    }
    .slogan5{
      padding: 0 150px;
      font-size: 72px;
      color: $color_main1;
      line-height: 1.4;
      text-align: center;
    }
    .box-product-2{
      .swiper-container{
        margin: 50px 0;
      }
      .swiper-slide{
        position: relative;
        img{
          width: 100%;
        }
        .content-product-2{
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          padding: 45px 35px;
          .lst-product-2{
            li{
              color: #ffffff;
              font-size: 26px;
              margin-bottom: 30px;
              &:before{
                content: '';
                display: inline-block;
                background: url("../images/check-011.png") 0/100% no-repeat;
                width: 30px;
                height: 30px;
                margin-right: 15px;
                margin-bottom: -8px;
              }
            }
          }
        }
      }
    }
    .box-bg-4 {
      background: url("../images/bg-4.jpg") 50% 100% no-repeat #69b33a;
      height: 816px;
      .box-product-1{
        display: flex;
        padding: 25px 0;
        height: 100%;
        .img-product{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 42%;
          img{
            max-width: 100%;
          }
        }
        .box-right-product{
          width: 58%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .lst-note1{
            margin-bottom: 15px;
            li{
              display: flex;
              margin-bottom: 30px;
              &:before{
                display: block;
                content: '';
                background: url("../images/check-011.png") 0/100% no-repeat;
                width: 36px;
                height: 36px;
                margin-right: 15px;
                margin-top: 15px;
              }
              span{
                display: block;
                flex: 1;
                color: #ffffff;
                font-size: 32px;
                line-height: 50px;
                font-weight: normal;
                strong{
                  font-family: 'SVN-Avo Bold',sans-serif;
                }
              }
              &:last-child{
                &:before{
                  background: url("../images/check-01.png") 0/100% no-repeat;
                }
                span{
                  color: $color_text_1;
                  font-family: 'SVN-Avo Bold',sans-serif;
                }
              }
            }
          }
          @mixin  form-ads{
            height: 50px;
            background-color: $color_main2;
            border: none;
            font-size: 21px;
            font-family: 'SVN-Avo Bold',sans-serif;
            text-transform: uppercase;
            color: $color_text_1;
            padding: 0 15px;
            display: flex;
              width: 100%;
            &::placeholder{
              color: $color_text_1;
            }
          }
          .input-form{
            display: flex;
            flex: 1;
            justify-content: space-between;
            .form-group{
              &:nth-child(1){
                width: 59%;
                margin-right: 2%;
              }
              &:nth-child(2){
                width: 38%;
              }
            }
          }
          .ads-form{
            display: flex;
            width: 100%;
            input{
              @include form-ads;
            }

          }
          .btn-send-info{
            width: 183px;
            height: 50px;
            background-color: #A70C0C;
            color: $color_main2;
            font-size: 28px;
            line-height: 25px;
            font-family: 'SVN-Avo Bold',sans-serif;
            text-transform: uppercase;
          }
        }

      }
    }
    .box-bg-6{
      background: url("../images/bg_6.jpg") 50% 0 no-repeat;
      height: 816px;
      .box-product{
        display: flex;
        height: 100%;
        .item-product{
          width: 50%;
          display: flex;
          align-items: flex-end;
          img{
            max-width: 100%;
          }
        }
        .box-register{
          background: url("../images/bg-7.jpg") 50% 100% no-repeat;
          height: 816px;
          padding: 20px 30px 0 40px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .info{
            position: relative;
            .img-clock{
              display: block;
              background: url("../images/clock_4.png") 0/100% no-repeat;
              width: 371px;
              height: 371px;
              position: absolute;
              right: -150px;
              top:50%;
              margin-top: -160px;
            }
            .text-1{
              display: block;
              color: $color_main2;
              text-transform: uppercase;
              font-size: 51px;
              font-family: "SVN-Avo Bold",sans-serif;
              line-height: 62px;
            }
            .text-2{
              display: flex;
              width: 570px;
              max-width: 100%;
              height: 44px;
              border-radius: 22px;
              padding: 0 20px;
              margin: 15px 0 15px -20px;
              font-size: 32px;
              line-height: 1;
              font-family: "SVN-Avo Bold",sans-serif;
              background-color: $color_text_1;
              color: $color_main2;
            }
            .text-3{
              font-size: 24px;
              line-height: 30px;
              color: $color_main2;
              font-family: "SVN-Avo Bold",sans-serif;
            }
          }
          .form-register{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            width: 100%;
            margin-top: 40px;
            height: 497px;
            input{
              width: 100%;
              height: 47px;
              border-radius: 40px;
              background-color: $color_main2;
              padding: 0 25px;
              margin-bottom: 0;
              border: none;
              font-size: 26px;
              color: $color_text_1;
              font-family: "SVN-Avo",sans-serif;
              &::placeholder{
                color: $color_text_1;
              }
              &:focus{
                outline: none;
              }
            }
            textarea{
              font-family: "SVN-Avo",sans-serif;
              width: 100%;
              height: 292px;
              padding: 25px;
              border-radius: 40px;
              margin-bottom: 20px;
              font-size: 26px;
              color: $color_text_1;
              &:focus{
                outline: none;
              }
              &::placeholder{
                color: $color_text_1;
              }
            }
            .btn-register{
              background-color: #A70C0C;
              width: 260px;
              height: 47px;
              border-radius: 20px 20px 0 0;
              font-size: 26px;
              color: $color_main2;
              text-transform: uppercase;
              font-family: 'SVN-Avo Bold',sans-serif;
            }
          }
        }
      }
    }
    .box-info3{
      .text-info3{
        color: #ffffff;
        font-size: 55px;
        padding: 15px 120px;
        text-align: center;
        line-height: 1.3;
      }
      .detail-info-2{
        @include flex_between;
        .item-3{
          width: 49%;
          background-color: $color_main2;
          text-align: center;
          h4{
            background-color: $color_main1;
            color: $color_main2;
            font-family: 'Roboto',sans-serif;
            font-size: 36px;
            line-height: 99px;
          }
          .info-item-3{
            background: url("../images/bg-dyty-02.png") 0/100% no-repeat;
            width: 100%;
            height: 778px;
            padding: 10px 25px;
            font-family: "Times New Roman";
            font-size: 31px;
            color: #0A1C5F;
            h5{
              font-size: 40px;
              font-family: 'Roboto',sans-serif;
              font-weight: bold;
              color: $color_main1;
              margin: 21px 0;
            }
          }
        }
      }
    }

    .box-comment-mb{
      display: none;
    }
    .box-comment{
      padding: 30px 200px;
      .slogan3{
        font-size: 55px;
        padding: 0 219px;
        text-align: center;
        line-height: 1.2;
        margin-bottom: 35px;
      }
      .item-comment{
        display: flex;
        margin-bottom: 46px;
        position: relative;
        .info-user{
          color: #6CB438;
          font-size: 24px;
        }
        .content-comment{
          margin: 8px 0;
          color: #000000;
          font-weight: normal;
          font-size: 23px;
          line-height: 1.3;

        }
        .avatar-user{
          display: block;
          width: 122px;
          height: 122px;
          overflow: hidden;
          margin-right: 28px;
          position: absolute;
          top: 0;
          left: -61px;
          z-index: 2;

        }
        .detail-comment{
          flex: 1;
          padding: 0 0 27px 150px;
          color: #636363;
          font-size: 21px;
          line-height: 28px;
          border-left: 1px solid #33A845;
          border-bottom: 1px solid #33A845;
          position: relative;
          &:before{
            content: '';
            display: block;
            background: url("../images/quotation-mark-02.png") 0/100% no-repeat #ffffff;
            width: 47px;
            height: 44px;
            position: absolute;
            top: 0;
            left: 80px;
          }
          &:after{
            content: '';
            display: block;
            background: url("../images/quotation-mark-02.png") 0/100% no-repeat #ffffff;
            transform: rotate(180deg);
            width: 47px;
            height: 44px;
            position: absolute;
            bottom: 26px;
            right: 0;
          }
        }
        &:nth-child(even){
          .avatar-user{
            right: -61px;
            left: auto;
            top: 0;
          }
          .detail-comment{
            order: 1;
            border-left: 0;
            border-right: 1px solid #33A845;
            padding: 0 100px 27px;
            margin-left: 70px;
            margin-right: 28px;
            &:before{
              top: 0;
              left: 0;
            }
            &:after{
              bottom: 25px;
              right: 50px;
            }
          }

        }
      }
    }
    .box-info-order{
      //@include flex_between;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .form-order{
        padding: 0;
        width: 50%;
        .text4{
          display: inline-flex;
          align-items: center;
          padding: 0 50px;
          background-color: $color_text_1;
          height: 55px;
          color: $color_main2;
          font-size: 26px;
          font-family: 'SVN-Avo Bold',sans-serif;
          margin: 30px 0 20px;
          font-style: italic;
        }
        .text5{
          display: inline-flex;
          padding: 0 50px;
          color: $color_text_1;
          font-size: 26px;
          font-family: "SVN-Avo Bold",sans-serif;
          line-height: 34px;
          text-transform: uppercase;
          margin-bottom: 20px;
        }
        .main-form{
          max-width: 800px;
        }
        h4, label{
          color: $color_main1;
          text-transform: uppercase;
          font-size: 52px;
          margin: 12px 0;
          font-family: 'SVN-Avo Bold',sans-serif;
          text-align: center;
        }
        input{
          width: 100%;
          margin-bottom: 0;
          background-color: $color_main1;
          color: $color_main2;
          padding: 0 23px;
          font-size: 21px;
          border: none;
          height: 47px;
          font-family: "SVN-Avo",sans-serif;
          &::placeholder{
            color: $color_main2;
          }
        }
        .btn-order{
          width: 180px;
          height: 47px;
          background-color: $color_4;
          color: $color_main2;
          text-transform: uppercase;
          font-size: 26px;
         font-family: 'SVN-Avo Bold',sans-serif;
          float: right;
          &:hover{
            color: $color_main2;
            background-color: $color_3;
            letter-spacing: 1.2px;
          }
        }
        .box-counter{
          display: flex;
          align-items: center;
          padding-left: 20px;
          input{
            margin-bottom: 0;
            background-color: #A70C0C;
          }
          .box-cell-price{
            width: 536px;
            flex: 1;
            margin-left: 40px;
            background-color: $color_main1;
          }
          label{
            font-size: 36px;
            line-height: 1.2;
          }
          .counter-main{
              @include flex_center;
            .btn-action{
              background-color: transparent;
              width: auto;
              color: $color_main1;
              font-size: 23px;
              font-family: 'SVN-Avo Bold',sans-serif;
              &:hover, &:focus{
                color: $color_4;
              }

            }
            .input-number{
              width: 40px;
              height: 40px;
              font-size: 26px;
              color: $color_main2;
              padding: 0;
              text-align: center;
            }
          }
        }
      }
      .info-product{
        width: 50%;
        display: flex;
        justify-content: flex-end;
        img{
          width: 100%;
          max-width: 960px;
          height: auto;
        }
      }
    }
  }

}
@media only screen and (max-width: 1366px) {
  .fixCen{
    width: 100%;
    padding: 0 15px;
  }
  .wrapper-landing{
    header{
      .header{
        .box-right-header{
          .box-support{
            span{
              display: none;
            }
          }
        }
      }
      .box-ads-header{
        .inner-ads-header{
         display: flex;
          align-items: center;
          justify-content: flex-start;
          .btn-close{
            right: 5px;
            top: -35px;
          }
          .box-note-sticky{
            width: 67%;
            span{
              font-size: 18px;
              padding: 0 15px;
              text-align: center;
            }
          }
          @mixin  form-ads{
            width: 48%;
            margin-right: 1%;
            input{
              height: 40px;
            }

          }
          .ads-form{
            justify-content: flex-start;
            width: 70%;
            .input-form{
              width: 70%;
            }
            .form-group{
              @include form-ads;
            }
            .btn-send-info{
              width: 25%;
              height: 40px;
              font-size: 20px;
            }
          }
          .img-product-ads{
            width: 30%;
            height: auto;
          }
        }

      }
    }
    main{
      .box-register{
        .form-register{
          width: 100%;
          border-right: none;
          .inner-form{
            background-color: $color_main2;
            width: 99%;
            max-width: 628px;
          }
        }
      }
      .box-info3{
        .text-info3 {
          font-size: 34px;
        }
        .detail-info-2{
          align-items: stretch;
          .item-3{
            h4{
              font-size: 24px;
              line-height: 2;
            }
            .info-item-3{
              height: auto;
              font-size: 24px;
              color: #0A1C5F;
              h5{
                font-size: 30px;
              }
            }
          }
        }
      }
      .box-note1{
        padding: 26px 55px;
        font-size: 24px;
      }
      .box-info-order{
        .form-order, .info-product{
          width: 50%;
        }
      }
      .box-info2{
        .detail-info2{
          .item-info2 {
            .top-info{
              font-size: 24px;
              @media only screen and(max-width: 1200px) {
                font-size: 20px;
                padding: 6px 10px;
              }
            }
            .lst-medicine{
              li{
                font-size: 24px;
                @media only screen and(max-width: 1200px) {
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .wrapper-landing{
    header{
      .header{
        height: 80px;
        .logo{
          width: 250px;
          height: 46px;
        }
        .box-right-header{
          .box-support{
            .hotline{
              font-size: 20px;
              width: auto;
              padding: 0 10px;
            }
            .btn-buy{
              width: auto;
              padding: 0 10px;
              font-size: 20px;
            }
          }
        }
      }
      .banner-header{
        .info{
          padding: 0 0 0 35px;
          max-width: 640px;
          left: 50%;
          margin-left: -385px;
          .img-clock{
            right: -200px;
          }
          .text-2{
            max-width: 640px;
            height: 100px;
            padding: 0 45px 0 25px;
            font-size: 50px;
            line-height: 100px;
          }
          .lst-symptom{
            max-width: 640px;
            height: auto;
            li{
              span{
                font-size: 28px;
                line-height: 48px;
              }
            }
          }
        }
      }
      .ads-form{
        //.input-form{
        //  width: 60%;
        //}
      }
    }
    main{
      .box-info-order{
        .form-order{
          label, h4{
            font-size: 36px;
          }
          .box-counter{
            margin-bottom: 10px;
            label{
              margin: 8px;
            }
            h4, label{
              font-size: 30px;
            }
          }
          .btn-order{
            height: 40px;
            font-size: 22px;
            margin-bottom: 10px;
            margin-top: 8px;
          }
          input{
            height: 40px;
            font-size: 18px;
            margin-bottom: 10px;
          }
          .text4{
            margin:  10px 0;
          }
          .text5{
            margin-bottom: 10px;
            font-size: 22px;
            line-height: 26px;
          }

        }
      }
      .box-info1{
        height: 650px;
        display: flex;
        .img-person-1{
          display: block;
          background: url("../images/img-p1.png") 50% 100% no-repeat;
          width: 800px;
          height: 650px;
          position: static;
          margin-left: 0;
        }
        .list-symptom{
          width: 529px;
          padding: 0;
          .item-symptom{
            width: 450px;
            height: 93px;
            margin-bottom: 15px;
            font-size: 26px;
            &:before{
              width: 32px;
              height: 32px;
              margin-right: 8px;
            }
            &:nth-child(even){
              background: url("../images/frame-dot2.png") 0/100% no-repeat;
              padding: 0 0 0 120px;
            }
            &:nth-child(odd){
              background: url("../images/frame-dot2.png") 0/100% no-repeat;
              padding: 0 0 0 120px;
            }
          }
        }
      }
      .box-product-2{
        .swiper-slide{
          .content-product-2{
            .lst-product-2{
              li{
                font-size: 18px;
                margin-bottom: 15px;
              }
            }
          }
        }
      }
      .box-comment{
        margin-top: 20px;
        .item-comment{
          .detail-comment{
            padding: 0 50px 27px 135px;
          }
          &:nth-child(even){
            .detail-comment{
              padding: 0 135px 27px 50px;
            }
          }
        }
      }
      .slogan5{
        font-size: 50px;
        line-height: 1.4;
      }
      .slogan3{
        padding:  0 100px;
      }
      .box-bg-2{
        .lst-note{
          padding: 0 60px;
        }
      }
      .box-bg-4{
        .box-product-1{
          .box-right-product{
            .lst-note1{
              li{
                span{
                  font-size: 24px;
                }
              }
            }
            .ads-form{
              input{
                font-size: 16px;
              }

            }
            .btn-send-info{
              font-size: 24px;
            }
          }
        }
      }
      .list-schedule{
        .item-schedule{
          .box-content-schedule{
            .lst-schedule{
              li{
                span{
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
  .wrapper-landing main .box-info-order .form-order .text4{
    font-size: 16px;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .text-main1{
    display: block;
  }
  .fixCen{
    max-width: 100%;
    padding: 0;
  }
  .swiper-button-prev, .swiper-button-next{
    display: block;
    width: 20px;
    height: 20px;
    background: url("../images/btn-prev.png") 0/100% no-repeat;
  }
  .swiper-button-next{
    transform: rotate(180deg);
  }
  .swiper-pagination-bullet{
    width: 16px;
    height: 16px;
    &.swiper-pagination-bullet-active{
      background-color: #6CB438;
    }
  }

  .wrapper-landing{
    padding-top: 60px;
    header{
      .header{
        background-color: #2E3191!important;
        height: 60px;
        .inner-header{
          justify-content: center!important;
        }
        .logo{
          display: block;
          width: 148px;
          height: 27px;
        }
        .box-right-header{
          display: none;
        }
      }
      .banner-header{
        background: none;
        padding-top: 0;
        height: auto;
        .main-banner{
          padding-top: 0px;
        }
        .img-banner-mb{
          display: block;
          width: 100%;
        }
      }
      .box-ads-header{
        min-height: 75px;
        height: auto;
        .inner-ads-header{
          justify-content: flex-start;
          .btn-close{
            display: block;
            right: 0;
            top: -68px;
            left: auto;
            width: 30px;
            height: 30px;
          }
          .box-note-sticky{
            height: 58px;
            top: -58px;
            width: 100%;
            span{
              width: 100%;
              margin-right: 0;
              font-size: 14px;
              height: 58px;
              padding: 0 38% 0 20px;
              text-align: left;
              border-radius: 10px 10px 0 0;
            }
            span{
              &:nth-child(2){
                display: none;
              }
            }
          }
          .ads-form{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px 10px;
            .input-form{
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 60%;
              max-width: 60%;
              .form-group{
                width: 100%;
                margin-bottom: 4px;
                display: flex;
                flex-direction: row;
                align-items: center;
                &:last-child{
                  margin-bottom: 0;
                }
              }
              input{
                width: 100%;
                margin: 2px 0;
                font-size: 12px;
                text-transform: inherit;
                height: 25px;
              }
            }
            .btn-send-info{
              width: 30%;
              height: 56px;
              font-size: 18px;
              line-height: 20px;
              margin: 0 5px;
            }
          }
          .img-product-ads{
            width: 220px;
            max-width: 40%;
            height: auto;
            bottom: 0;
            right: 0;
            left: auto;
          }
        }
      }
    }
    main{
      .slogan1{
        padding: 15px 0;
        font-size: 30px;
        line-height: 1.4;
      }

      .box-bg-2{
        .lst-note{
          padding: 0;
          li{
            margin-bottom: 20px;
            &:before{
              width: 20px;
              height: 20px;
              margin-top: 4px;
              margin-right: 12px;
            }
            span{
              font-size: 18px;
              line-height: 24px;
            }
          }
        }
      }
      .box-note1{
        padding: 30px 30px;
        font-size: 20px;
        text-align: left!important;
        &:before{
          width: 33px;
          height: 34px;
          left: 10px;
          top: 0;
        }
        &:after{
          width: 33px;
          height: 34px;
          right: 10px;
          bottom: 0px;
        }
        .lst-description{
          li{
            margin-bottom: 4px;
            &:before{
              width: 8px;
              height: 8px;
              margin-right: 6px;
              margin-bottom: 3px;
            }
          }
        }
      }
      .box-info2{
        .text-slogan-3{
          font-size: 18px;
          line-height: 24px;
          padding: 0 30px;
        }
        .detail-info2{
          flex-wrap: wrap;
          padding-top: 30px;
          .item-info2{
            width: 320px;
            height: auto;
            margin: 0 auto 56px;
            padding-top: 45px;
            &:nth-child(1){
              &:before{
                width: 83px;
                height: 83px;
                top: -40px;
                left: 50%;
                margin-left: -41px;
              }
            }
            &:nth-child(2){
              &:before{
                width: 83px;
                height: 83px;
                top: -40px;
                left: 50%;
                margin-left: -41px;
              }
            }
            .name-info{
              font-size: 18px;
              line-height: 41px;
              height: auto;
              background-color: $color_text_1;
              padding: 0;
              justify-content: center;
            }
            .top-info{
              font-size: 18px;
              line-height: 23px;
              text-align: left;
              height: auto;
              padding: 0 10px 15px;
            }
            .lst-medicine{
              li{
                font-size: 18px;
                line-height: 23px;
                margin-bottom: 15px;
                span{
                  font-family: 'SVN-Avo Bold',sans-serif;
                }
              }
            }
          }
        }
        .reason-text{
          padding-right: 0;
          span{
            font-size: 30px;
            line-height: 1.5;
            border-radius: 22px;
          }
        }
      }
      .slogan3{
        font-size: 18px;
        line-height: 24px;
        padding: 0 15px;
      }
      .slogan4{
        padding: 0 20px;
        font-size: 18px;
        line-height: 24px;
      }
      .box-bg-2{
        background-size: 768px auto;
        padding: 0;
        .lst-note{
          li{
            span{
              font-weight: normal;
            }
          }
        }

      }
      .box-bg-4{
        background-size: 768px auto;
        height: auto;
        .box-product-1{
          width: 100%;
          margin: 0 auto;
          padding: 25px 15px 0;

          .img-product{
            width: 50%;
          }

          .box-right-product{
            width: 50%;
            .lst-note1{
              li{
                margin-bottom: 12px;
                &:before{
                  width: 20px;
                  height: 20px;
                  margin-right: 8px;
                  margin-top: 6px;
                }
                span{
                  font-size: 18px;
                  line-height: 23px;
                }
              }
            }
            .ads-form{
              flex-direction: column;
              .input-form{
                display: flex;
                .form-group{
                  width: 50%!important;
                }
                input{
                  width: 100%;
                }
              }

            }
            .btn-send-info{
              width: 146px;
              height: 35px;
              border-radius: 0;

              font-size: 18px;
              margin-top: 15px;
            }
          }
          @media only screen and (min-width:513px) {
            .btn-send-info.d-block{
              display: none!important;
            }
          }
          @media only screen and(max-width: 512px) {
            flex-direction: column;
            .img-product{
              width: 100%;
              img{
                max-width: 227px;
                margin: 0 auto;
              }
            }
            .box-right-product{
              width: 100%;
              padding: 0 25px;
              .ads-form{
                display: none;
              }
              .btn-send-info{
                border-radius: 10px 10px 0 0;
                height: 30px;
                margin: 0 auto;
                text-align: center;
              }
            }
          }
          
        }
      }
      .list-schedule{
        flex-wrap: wrap;
        padding: 0 35px;
        .item-schedule{
          width: 100%;
          border-radius: 10px;
          margin-bottom: 15px;
          .name-schedule{
            height: 62px;
            font-size: 30px;
            &:after{
              width: 20px;
              height: 20px;
              bottom: -10px;
              margin-left: -10px;
            }
          }
          .box-content-schedule{
            background-size: 100%;
            height: auto;
            min-height: 150px;
            padding: 20px 20px 0;
            .lst-schedule{
              margin-bottom: 10px;
              li{
                margin-bottom: 15px;
                font-weight: normal;
                &:before{
                  background: #ffffff;
                  width: 5px;
                  height: 5px;
                  border-radius: 50%;
                  margin-right: 5px;
                  margin-top: 10px;
                }
                span{
                  font-size: 18px;
                  line-height: 22px;
                  flex: inherit;
                  max-width: calc(100% - 10px);

                }
              }
            }
            .btn-buy-now{
              width: 146px;
              height: 25px;
              font-size: 18px;
              line-height: 25px;
              border-radius: 10px 10px 0 0;
            }
          }
        }
      }
      .lst-price{
        padding: 15px;
        margin-bottom: 0;
        .item-price{
          .name-price{
            font-size: 18px;
            line-height: 23px;
            height: 58px;
          }
        }
        @media only screen and (max-width: 512px) {
          padding: 15px 0;
          flex-wrap: wrap;
          .item-price{
            width: 100%;
            max-width: 100%;
            margin-right: 0;
            &:nth-child(1){
              margin-right: 0;
            }
            .img-price{
              width: 60%;
              margin: 0 auto;
            }
          }
        }
      }
      .box-info-company{
        flex-wrap: wrap;
        .item-4{
          width: 100%;
        }
        .box-video{
          display: flex;
          justify-content: center;
        }
        .img-company{
          background: none;
          height: auto;
          .btn-banner-order{
            width: 200px;
            height: 40px;
            font-size: 20px;
            margin-left: -100px;
            padding-bottom: 2px;
          }
        }
      }
      .slogan5{
        padding: 0 15px;
        font-size: 30px;
        line-height: 38px;
        font-family: 'SVN-Avo Bold',sans-serif;

      }
      .box-product-2{
        padding: 0 35px;
        .swiper-container{
          margin: 15px 0;
        }
        .swiper-slide{
          .content-product-2{
            padding: 25px;
            display: flex;
            align-items: flex-end;
            .lst-product-2{
              li{
                font-size: 18px;
                margin-bottom: 15px;
                &:before{
                  width: 16px;
                  height: 16px;
                  margin-right: 5px;
                  margin-bottom: -2px;
                }
              }
            }
          }
        }
        .swiper-button-prev{
          left: 0;
        }
        .swiper-button-next{
          right: 0;
        }
      }
      .box-bg-6{
        height: auto;
        background: none;
        .box-product{
          flex-wrap: wrap;
          .item-product{
            width: 100%;
            &:nth-child(1){
              display: none;
            }
          }
          .box-register{
            height: auto;
            padding: 15px 15px 0;
            .info{
              max-width: 302px;
              width: 100%;
              padding: 0;
              margin: 0 auto;
              .img-clock{
                width: 186px;
                height: 186px;
                right: -75px;
                top: -30px;
                margin-top: 0;
              }
              .text-1{
                width: 100%;
                font-size: 26px;
                line-height: 33px;
                padding: 0;
              }
              .text-2{
                width: 100%;
                max-width: 100%;
                height: 22px;
                border-radius: 11px;
                padding: 0 10px;
                margin: 5px 0 5px -10px;
                font-size: 18px;
                line-height: 1;
              }
              .text-3{
                font-size: 12px;
                line-height: 15px;
              }
            }
            .form-register{
              height: auto;
              input{
                height: 40px;
                border-radius: 4px;
                padding: 0 15px;
                margin-bottom: 0;
                font-size: 16px;
              }
              textarea{
                height: 145px;
                font-size: 16px;
                padding: 15px;
                border-radius: 4px;
                border: none;
              }
              .btn-register{
                font-size: 14px;
                line-height: 1;
                width: 200px;
                height: 30px;
                border-radius: 10px 10px 0 0;
              }
            }
          }
        }
      }
      .box-comment-desktop{
        display: none;
      }
      .box-info-order{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        .form-order{
          width: 100%;
          max-width: 100%;
          position: relative;
          h4{
            font-size: 26px;
          }
          input{
            height: 40px;
            margin-bottom: 0;
            font-size: 16px;
            padding: 0 12px;
          }
          .main-form{
            padding: 0 35px;
          }
          .btn-order{
            float: right;
            width: auto;
            height: 36px;
            font-size: 18px;
            line-height: 24px;
            margin-top: 50px;
            margin-bottom: 12px;
            padding: 0 15px;
          }
          .box-counter{
            label{
              font-size: 16px;
            }
            .box-cell-price{
              width: 50%;
              margin-left: 0;
            }
            .counter-main{
              margin-bottom: 12px;
              .btn-action{
                font-size: 18px;
              }
              .input-number{
                width: 36px;
                height: 36px;
                font-size: 16px;
              }
            }
          }
          .text4{
            font-size: 10px;
            font-style: italic;
            display: flex;
            width: 100%;
            justify-content: center;
            height: 24px;
            margin: 0;
          }
          .text5{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 50px;
            padding: 0 30px;
            font-size: 16px;
            font-family: 'SVN-Avo Bold',sans-serif;
            line-height: 20px;
            position: absolute;
            bottom: 75px;
            left: 0;
            margin-bottom: 0;
            text-align: center;
          }
        }
        .info-product{
          width: 100%;
          height: auto;
          img{
            width: 100%;
            max-width: 100%;
            height: auto;
            vertical-align: top;
          }
        }
      }
      .box-info3{
        .text-info3{
          font-size: 30px;
          padding: 15px;
        }
        .detail-info-2{
          .item-3{
            width: 100%;
            margin-bottom: 32px;
          }
        }
      }

      .box-product{
        flex-wrap: wrap;
        .box-img-product{
          width: 100%;
        }
        .box-detail-product{
          .form-register-bottom{
            @mixin button-register{
              font-size: 24px;
              border-radius: 0;
              padding: 0 10px;
              display: flex;
              align-items: center;
            }
            .box-form-bottom{
              border-radius: 0;
            }
            .btn-register{
              @include button-register;
            }
          }
        }
      }
      .box-comment-mb{
        display: block;
      }
      .box-comment{
        padding: 30px 0;
        .item-comment{
          padding: 0 35px 0 35px;
          position: relative;
          margin-bottom: 24px;
          .info-user{
            font-size: 17px;
          }
          .avatar-user{
            display: none;
            width: 68px;
            height: 68px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #ffffff;
            z-index: 2;
          }
          .detail-comment{
            padding: 0 0 35px 20px;
            font-size: 16px;
            line-height: 20px;
            &:before{
              width: 33px;
              height: 33px;
              top: -10px;
              left: -15px;
              z-index: 2;
            }
            &:after{
              width: 33px;
              height: 33px;
              bottom: 0px;
              right: 0;
            }
            .content-comment{
              font-size: 16px;
            }
          }
          &:nth-child(even){
            .avatar-user{
              top: 0;
              left: 0;
            }
            .detail-comment{
              padding: 0 0 35px 20px;
              border-left: 1px solid #33A845;
              border-right: none;
              margin-right: 0;
              margin-left: 0;
              &:before{
                width: 33px;
                height: 33px;
                top: -10px;
                left: -15px;
              }
              &:after{
                width: 33px;
                height: 33px;
                bottom: 0px;
                right: 0;
              }
            }
          }

        }
      }
      .box-info1{
        height: 326px;
        display: flex;
        .img-person-1{
          display: block;
          background: url("../images/img-p1.png") 0/100% no-repeat;
          width: 300px;
          height: 310px;
          position: absolute;
          right: 50%;
          margin-right: -270px;
          top: auto;
          bottom: 0;
          transform: scaleX(-1);
        }
        .list-symptom{
          width: 300px;
          position: absolute;
          right: 50%;
          margin-right: -135px;
          top: 50px;
          .item-symptom{
            width: 100%;
            height: 31px;

            margin-bottom: 10px;
            color: #ffffff;
            font-size: 15px;
            line-height: 31px;
            >span{
              flex: 1;

            }
            &:before{
              width: 13px;
              height: 13px;
              margin-right: 6px;
              background: url(../images/check-011.png) 0/100% no-repeat;
              margin-top: 0;
            }
            &:nth-child(even){
              background: #503528;
              padding: 0 12px;
            }
            &:nth-child(odd){
              background: #503528;
              padding: 0 12px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 639px) {
  .wrapper-landing {
    header {
      .banner-header{
        .info{
          max-width: 320px;
          width: 320px;
          position: absolute;
          left: 50%;
          margin-left: -151px;
          top: 15px;
          padding: 0;
          .img-clock{
            width: 206px;
            height: 206px;
            right: -55px;
            top: 35px;
            margin-top: 0;
          }
          .text-1{
            display: block;
            width: 100%;
            text-align: center;
            font-size: 16px;
            padding: 0;
          }
          .text-2{
            width: 100%;
            max-width: 100%;
            height: 43px;
            border-radius: 20px;
            padding: 0 ;
            margin: 8px 0;
            font-size: 26px;
            line-height: 43px;
            justify-content: center;
          }

          .text-3{
            display: block;
            color: #A70C0C;
            font-family: "SVN-Avo Bold",sans-serif;
            font-size: 18px;
            margin-left: 20px;
          }
          .lst-symptom{
            width: 65%;
            height: auto;
            background-image: none;
            border-radius: 0;
            padding-left: 0;
            li{
              margin-bottom: 10px;
              &:before{
                width: 13px;
                height: 13px;
                margin-right: 5px;
                margin-top: 5px;
              }
              span{
                font-size: 16px;
                line-height: 21px;
              }
            }
          }
        }
      }
    }
  }
}
.smoothed {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
